@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
  --color-red: #eb0028;
  --color-black: #1e1e1e;
  --color-white: #fff;
  --color-gold: #ffd144; 
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-imfellEng: var(--font-imfell-eng);
  --font-handjet: var(--font-handjet);
  --font-sourceSerif4: var(--font-source-serif-4);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-imfellEng: var(--font-imfell-eng);
  --font-handjet: var(--font-handjet);
  --font-crimsonPro: var(--font-crimson-pro);
  --font-brixton: var(--font-brixton);
  --font-tnr-condensed: var(--font-tnr-condensed);
  --font-sourceSerif4: var(--font-source-serif-4);
  --color-proper-red: #eb0028;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, Arial, sans-serif;
}

button:hover {
  cursor: pointer;
  background-color: #4a4949;
}

@media (width >= 60rem) {
  #dialogue {
    height: 90lvh;
  }
}
@media (width >= 50rem) and (width <= 60rem) {
  #dialogue {
    height: 40lvh;
  }
}
@media (width >= 40rem) and (width <= 50rem) {
  #dialogue {
    height: 40lvh;
  }
}
@media (width >= 30rem) and (width <= 40rem) {
  #dialogue {
    height: 40lvh;
  }
}
@media (width >= 20rem) and (width <= 30rem) {
  #dialogue {
    height: 25lvh;
  }
}
@media (width >= 10rem) and (width <= 20rem) {
  #dialogue {
    height: 20lvh;
  }
}
@media (width >= 5rem) and (width <= 10rem) {
  #dialogue {
    height: 15lvh;
  }
}
@media (height >= 60rem) {
  #dialogue {
    width: 95lvw;
  }
}
@media (height >= 50rem) and (height <= 60rem) {
  #dialogue {
    width: 80lvw;
  }
}
@media (height >= 40rem) and (height <= 50rem) {
  #dialogue {
    width: 90lvw;
  }
}
@media (height >= 30rem) and (height <= 40rem) {
  #dialogue {
    width: 70lvw;
  }
}
@media (height >= 20rem) and (height <= 30rem) {
  #dialogue {
    width: 50lvw;
  }
}
@media (height >= 10rem) and (height <= 20rem) {
  #dialogue {
    width: 40lvw;
  }
}
@media (height >= 5rem) and (height <= 10rem) {
  #dialogue {
    width: 30lvh;
  }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none; 
        scrollbar-width: none;
  }
}
